/**
 * @file
 * CSS for hurricane autocomplete textfields.
 */

.hurricane-autocomplete {
  display: block;
}

.hurricane-autocomplete .throbber {
  display: block;
  position: absolute;
  z-index: 5;
}

html.js .form-item input.form-autocomplete {
  background-image: none;
}
